@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.titulo h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30pt;
    text-align:center;
    padding:20px;
}

.campeonato {
    width: 350px;
}


.card-group {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

/* .center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* 
.img-brasileiro {
    width: 300px;
} */