.img-time-tabela {
    width: 1.5rem;
    /* margin:10px; */
}

.tdImg img {
    width: 15px;
}


/* td 
{
    height: 50px; 
    width: 50px;
}

.tabela-classificacao td 
{
    vertical-align: middle;
} */