<div class="container-tabela container-geral center-block">

    <div class="barra-de-informacoes">
        <div class="refresh"> <a> <i class="Large material-icons ">refresh</i> </a> </div>
    </div>

    <table class="tabela-classificacao highlight">
        <thead>
            <tr>
                <td colspan="2">TIMES</td>
                <td>PTS</td>
                <td>PJ</td>
                <td>VT</td>
                <td>DER</td>
                <td>EMP</td>
                <td>GP</td>
                <td>GC</td>
                <td>SG</td>
                <td>Utimas 5 partidas</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tab of info">
                <td ngClass="position-{{tab.position}}" >{{tab.position}}</td>
                <td> <img src="{{tab.team.crestUrl}}" class="img-time-tabela"><span class="nome-time">{{tab.team.name}}</span> </td>
                <td>{{tab.points}}</td>
                <td>{{tab.playedGames}}</td>
                <td>{{tab.won}}</td>
                <td>{{tab.lost}}</td>
                <td>{{tab.draw}}</td>
                <td>{{tab.goalsFor}}</td>
                <td>{{tab.goalsAgainst}}</td>
                <td>{{tab.goalDifference}}</td>
                <td [innerHTML]="tab.form"></td> 
                
            </tr>
        </tbody>
    </table>

    <div class="legenda">
        <div *ngFor="let leg of legenda">
            <div ngClass="{{leg.cor}}"></div> <span> {{leg.descricao}} </span>
        </div>
    </div>
</div>
