@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');


.nav {
    /* background-color: red;; */
    padding-top: 30px;
    }

/* .container-home { 
    max-width: 85%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
} */

.logo {
    width: 50px;
    background-color: #fff;
    position: relative;
    top: 10px;;
}

.brand-logo {
    margin:30px
}

.brand-logo span {
    font-size: 30pt;
    font-family: 'Reenie Beanie', cursive;
    color: #000;
}

.brand-logo .span-color {
    color:#FFAB40;
}


.menu {
    position: relative;
    top: -10px; 
    display: flex;
    justify-content: flex-end; 
    /* background-color: yellow;; */
}

.menu a {
    text-decoration: none;
    font-size: 18pt;   
    padding: 0px 30px;
    font-family: 'Ropa Sans', sans-serif;
    color:#000;
}   
/* .menu a:first-child {
    color:#FFAB40;
    text-decoration: underline;
} */

.active {
    color:#FFAB40 !important;
    text-decoration: underline!important;
}