@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

nav {
    background-color: #fff;
}

.Logo a {
    font-size: 2rem;
}

.logo {
    width: 40px;
    background-color: #fff;
    border-radius:100%;
    margin:10px
}

.brand-logo span {
    font-size: 60px;
    font-family: 'Reenie Beanie', cursive;
    color: #000;
}

.brand-logo .span-color {
    color:#FFAB40;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;;
}
.menu a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5rem;

}