
  <div class="nav">
    <a href="#" class="brand-logo">
        <img src="assets/bola-de-futebol.svg" class="logo">  <span> Fute<span class="span-color">Day</span></span> 
    </a>
    <span class="menu">
      <a *ngFor="let i of LinksMenu"routerLink="/" [class.active]="i.enable">  {{i.title}}</a> 
    </span>
  </div>

  <div class="container-home">
    <router-outlet></router-outlet>
  </div>




<!-- <mat-toolbar class="header mat-elevation-z4"> 
    <span class="Logo">
        <a> <img src="assets/bola-de-futebol.svg">  FuteDay </a>
    </span>
    <span class="menu"> 
        <a>Campeonato Brasileiro</a>
        <a>Copa do Brasil</a>
    </span>
</mat-toolbar>
   -->