
  <div class="nav">
    <a href="#" class="brand-logo">
        <img src="assets/bola-de-futebol.svg" class="logo">  <span> Fute<span class="span-color">Day</span></span> 
    </a>
    <span class="menu">
      <a *ngFor="let i of LinksMenu" [routerLink]='i.router' [class.active]="i.enable" (click)="changeClassMenu(i.id)">  {{i.title}}</a> 
    </span>
  </div>

  <div class="controle-visualizacao">
    <input type="checkbox" /> darkmod
  </div>

  <div class="container-home">
    <router-outlet></router-outlet>
  </div>
