<!-- <div *ngFor=" let aa of artilharia">
    {{aa.player.name}}
</div> -->

<div class="container-tabela-artilharia container-geral center-block">

    <div class="barra-de-informacoes">
        <div class="refresh"> <a> <i class="Large material-icons ">refresh</i> </a> </div>
    </div>

    <div *ngFor="let art of infoTeamArtilharia" class="container-itens">
        <!-- foto dos times  -->
        <div>
            <img src="{{art.urlFoto}}" class="img-time-jogador" >
        </div>

        <!-- nome do jogador  -->
        <div class="nome-jogador">
            <span>{{art.nomeJogador}}</span><br>
            <span class="nome-jogador-detalhes" *ngIf="art.posicaoJogador === 'Attacker' "> Atacante </span>
            <span class="nome-jogador-detalhes" *ngIf="art.posicaoJogador === 'Midfielder' "> Meia </span> 
        </div>

        <!-- qtd de gols de cada jogador  -->
        <div class="gols-jogador">
            <span>{{art.Gols}}</span> <br>
            <span class="gol-palavra" *ngIf="art.Gols > 1"> Gols</span>
            <span class="gol-palavra" *ngIf="art.Gols === 1"> Gol</span>
        </div>
    </div>
</div>

